@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
body {
    background-color: black;
    color: green;
}

:root {
    background-color: black;
    color: green;
    font-family: "JetBrains Mono", monospace;
}

div {
    min-width: 100%;
    min-height: 100%;
}